[Unit]
Description=schedule backup service

[Service]
TimeoutStartSec=600
ExecStartPre=-/usr/bin/docker kill backup
ExecStartPre=-/usr/bin/docker rm backup
ExecStartPre=/usr/bin/docker pull debrouwere/pollster
ExecStartPre=/usr/bin/curl \
    -o /home/core/etcsnapshot \
    https://raw.githubusercontent.com/debrouwere/pollster/master/pollster/etcsnapshot.sh
ExecStartPre=/usr/bin/bash /home/core/etcsnapshot
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/docker run \
    --name backup \
    --env-file /tmp/etc/pollster \
    debrouwere/pollster /opt/pollster/backup
ExecStop=/usr/bin/docker stop backup
ExecStopPost=/usr/bin/docker run \
    --env-file /tmp/etc/pollster \
    --rm debrouwere/pollster aws cloudwatch put-metric-data \
    --namespace social-shares \
    --metric-name exec:stop \
    --dimensions type=timer,container=backup \
    --value 1 \
    --unit Count
[X-Fleet]
MachineOf=scheduler.service
