[Unit]
Description=schedule backup service timer
Requires=update.service
Requires=backup.service

[Timer]
OnCalendar=hourly

[X-Fleet]
MachineOf=backup.service
