[Unit]
Description=scheduler statistics

[Service]
TimeoutStartSec=600
ExecStartPre=-/usr/bin/docker kill count
ExecStartPre=-/usr/bin/docker rm count
ExecStartPre=/usr/bin/docker pull debrouwere/pollster
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/curl \
    -o /home/core/etcsnapshot \
    https://raw.githubusercontent.com/debrouwere/pollster/master/pollster/etcsnapshot.sh
ExecStartPre=/usr/bin/bash /home/core/etcsnapshot
ExecStart=/usr/bin/docker run \
    --name count \
    --env-file /tmp/etc/pollster \
    debrouwere/pollster /opt/pollster/count
ExecStop=/usr/bin/docker stop count
ExecStopPost=/usr/bin/docker run \
    --env-file /tmp/etc/pollster \
    --rm debrouwere/pollster aws cloudwatch put-metric-data \
    --namespace social-shares \
    --metric-name exec:stop \
    --dimensions type=health,container=count \
    --value 1 \
    --unit Count

[X-Fleet]
MachineOf=scheduler.service
