[Unit]
Description=scheduler statistics

[Service]
ExecStartPre=-/usr/bin/docker kill count
ExecStartPre=-/usr/bin/docker rm count
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/docker run \
    --name count \
    --env-file /tmp/etc/pollster \
    debrouwere/pollster /opt/pollster/count
ExecStop=/usr/bin/docker stop count
ExecStopPost=/usr/bin/docker run \
    --env-file /tmp/etc/pollster \
    --rm debrouwere/pollster aws cloudwatch put-metric-data \
    --namespace social-shares \
    --metric-name exec:stop \
    --dimensions type=health,container=count \
    --value 1 \
    --unit Count

[X-Fleet]
MachineOf=heartbeat.service