[Unit]
Description=Docker image updater

[Service]
Restart=on-failure
TimeoutStartSec=600
RemainAfterExit=yes
ExecStartPre=/usr/bin/curl \
    -o /home/core/etcsnapshot \
    https://raw.githubusercontent.com/debrouwere/pollster/master/pollster/etcsnapshot.sh
ExecStartPre=/usr/bin/bash /home/core/etcsnapshot
ExecStart=/usr/bin/docker pull debrouwere/pollster

[X-Fleet]
Global=true