[Unit]
Description=fleet statistics

[Service]
ExecStartPre=-/usr/bin/docker kill heartbeat
ExecStartPre=-/usr/bin/docker rm heartbeat
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/docker run \
    --name heartbeat \
    --env-file /etc/environment \
    --env-file /tmp/etc/pollster \
    debrouwere/pollster /opt/pollster/heartbeat
ExecStop=/usr/bin/docker stop heartbeat
ExecStopPost=/usr/bin/docker run \
    --env-file /tmp/etc/pollster \
    --rm debrouwere/pollster aws cloudwatch put-metric-data \
    --namespace social-shares \
    --metric-name exec:stop \
    --dimensions type=health,container=heartbeat \
    --value 1 \
    --unit Count

[X-Fleet]
Conflicts=redis.service