[Unit]
Description=careful share count poller

[Service]
Restart=always
RestartSec=60
TimeoutStartSec=600
ExecStartPre=-/usr/bin/docker kill poller.careful
ExecStartPre=-/usr/bin/docker rm poller.careful
ExecStartPre=/usr/bin/docker pull debrouwere/pollster
ExecStartPre=/usr/bin/curl \
    -o /home/core/etcsnapshot \
    https://raw.githubusercontent.com/debrouwere/pollster/master/src/etcsnapshot.sh
ExecStartPre=/usr/bin/bash /home/core/etcsnapshot
EnvironmentFile=/etc/environment
EnvironmentFile=/tmp/etc/pollster
ExecStart=/usr/bin/docker run \
    --name poller.careful \
    --env-file /tmp/etc/pollster \
    debrouwere/pollster /pollster/poll careful
ExecStop=/usr/bin/docker stop poller.careful
ExecStartPost=aws cloudwatch put-metric-data \
    --namespace social-shares \
    --metric-name start \
    --dimensions type=poller,container=poller.careful.%i \
    --value 1 \
    --unit Count
ExecStopPost=aws cloudwatch put-metric-data \
    --namespace social-shares \
    --metric-name stop \
    --dimensions type=poller,container=poller.careful.%i \
    --value 1 \
    --unit Count

[X-Fleet]
X-Conflicts=poller.careful@*.service
