[Unit]
Description=frequent share count poller
Requires=update.service

[Service]
Restart=always
RestartSec=60
TimeoutStartSec=600
ExecStartPre=-/usr/bin/docker kill poller.frequent
ExecStartPre=-/usr/bin/docker rm poller.frequent
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/docker run \
    --name poller.frequent \
    --env-file /tmp/etc/pollster \
    debrouwere/pollster /opt/pollster/poll frequent
ExecStop=/usr/bin/docker stop poller.frequent
ExecStartPost=/usr/bin/docker run \
    --env-file /tmp/etc/pollster \
    --rm debrouwere/pollster aws cloudwatch put-metric-data \
    --namespace social-shares \
    --metric-name exec:start \
    --dimensions type=poller,container=poller.frequent.%i \
    --value 1 \
    --unit Count
ExecStopPost=/usr/bin/docker run \
    --env-file /tmp/etc/pollster \
    --rm debrouwere/pollster aws cloudwatch put-metric-data \
    --namespace social-shares \
    --metric-name exec:stop \
    --dimensions type=poller,container=poller.frequent.%i \
    --value 1 \
    --unit Count

[X-Fleet]
Conflicts=poller.frequent@*.service
Conflicts=scheduler.service
Conflicts=heartbeat.service