[Unit]
Description=frequent share count poller

[Service]
Restart=always
RestartSec=60
TimeoutStartSec=600
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/docker pull debrouwere/pollster
ExecStart=/usr/bin/bash -c "/usr/bin/docker run \
    --env JOBS_REDIS_HOST=`etcdctl get /jobs/store` \
    --env AWS_ACCESS_KEY_ID=`etcdctl get /pollster/AWS_ACCESS_KEY_ID` \
    --env AWS_SECRET_ACCESS_KEY=`etcdctl get /pollster/AWS_SECRET_ACCESS_KEY` \
    --env POLLSTER_SQS=`etcdctl get /pollster/POLLSTER_SQS` \
    --env POLLSTER_DYNAMODB=`etcdctl get /pollster/POLLSTER_DYNAMODB` \
    --env POLLSTER_CLOUDWATCH=`etcdctl get /pollster/POLLSTER_CLOUDWATCH` \
    --env CONTAINER=poller.frequent.%i \
    --name poller.frequent \
    --rm debrouwere/pollster \
    /pollster/poll frequent"
ExecStop=-/usr/bin/docker stop poller.frequent
ExecStopPost=-/usr/bin/docker rm poller.frequent

[X-Fleet]
X-Conflicts=poller.frequent@*.service