[Unit]
Description=job scheduler
After=redis.service
Requires=redis.service

[Service]
Restart=always
RestartSec=60
TimeoutStartSec=600
ExecStartPre=-/usr/bin/docker kill scheduler
ExecStartPre=-/usr/bin/docker kill restore
ExecStartPre=-/usr/bin/docker rm scheduler
ExecStartPre=-/usr/bin/docker rm restore
ExecStartPre=/usr/bin/docker pull debrouwere/jobs
ExecStartPre=/usr/bin/docker pull debrouwere/pollster
ExecStartPre=/usr/bin/curl \
    -o /home/core/etcsnapshot \
    https://raw.githubusercontent.com/debrouwere/pollster/master/pollster/etcsnapshot.sh
ExecStartPre=/usr/bin/bash /home/core/etcsnapshot
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/docker run \
    --name scheduler \
    --env-file /tmp/etc/pollster \
    debrouwere/jobs job tick
ExecStartPost=/usr/bin/docker run \
    --name restore \
    --env-file /tmp/etc/pollster \
    debrouwere/pollster /opt/pollster/restore
ExecStartPost=/usr/bin/etcdctl set /pollster/JOBS_SCHEDULER ${COREOS_PRIVATE_IPV4}
ExecStop=/usr/bin/docker stop scheduler
ExecStopPost=/usr/bin/etcdctl rm /pollster/JOBS_SCHEDULER
ExecStartPost=/usr/bin/docker run \
    --env-file /tmp/etc/pollster \
    --rm debrouwere/pollster aws cloudwatch put-metric-data \
    --namespace social-shares \
    --metric-name exec:start \
    --dimensions type=scheduler,container=scheduler \
    --value 1 \
    --unit Count
ExecStopPost=/usr/bin/docker run \
    --env-file /tmp/etc/pollster \
    --rm debrouwere/pollster aws cloudwatch put-metric-data \
    --namespace social-shares \
    --metric-name exec:stop \
    --dimensions type=scheduler,container=scheduler \
    --value 1 \
    --unit Count

[X-Fleet]
MachineOf=redis.service
