[Unit]
Description=job store

[Service]
Restart=always
RestartSec=10
TimeoutStartSec=600
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill redis
ExecStartPre=-/usr/bin/docker rm redis
ExecStartPre=/usr/bin/docker pull redis
ExecStart=/usr/bin/docker run --name store -p 6379:6379 --rm redis
ExecStartPost=/usr/bin/etcdctl set /pollster/JOBS_REDIS_HOST ${COREOS_PRIVATE_IPV4}
ExecStop=/usr/bin/docker stop store
ExecStopPost=/usr/bin/etcdctl rm /pollster/JOBS_REDIS_HOST
ExecStartPost=aws cloudwatch put-metric-data \
    --namespace social-shares \
    --metric-name start \
    --dimensions type=scheduler,container=store \
    --value 1 \
    --unit Count
ExecStopPost=aws cloudwatch put-metric-data \
    --namespace social-shares \
    --metric-name stop \
    --dimensions type=scheduler,container=store \
    --value 1 \
    --unit Count