; TODO: guarantee persistence of data volume
; 
; NOTE: you can have as many ExecStartPre commands as you 
; need, so this is great for setting jobs that definitely
; need to run (individually or, in the future, by reading
; a job board)

[Unit]
Description=job store

[Service]
Restart=always
RestartSec=10
TimeoutStartSec=600
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/docker pull redis
ExecStart=/usr/bin/docker run --name store -p 6379:6379 --rm redis
ExecStartPost=/usr/bin/etcdctl set /jobs/store ${COREOS_PRIVATE_IPV4}
ExecStop=/usr/bin/docker stop store
ExecStopPost=/usr/bin/etcdctl rm /jobs/store