[Unit]
Description=article submitter
Requires=update.service

[Service]
ExecStartPre=-/usr/bin/docker kill submit
ExecStartPre=-/usr/bin/docker rm submit
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/docker run \
    --name submit \
    --env-file /tmp/etc/pollster \
    debrouwere/pollster /opt/pollster/submit
ExecStop=/usr/bin/docker stop submit
ExecStopPost=/usr/bin/docker run \
    --env-file /tmp/etc/pollster \
    --rm debrouwere/pollster aws cloudwatch put-metric-data \
    --namespace social-shares \
    --metric-name exec:stop \
    --dimensions type=timer,container=submit \
    --value 1 \
    --unit Count

[X-Fleet]
MachineOf=heartbeat.service