[Unit]
Description=article submitter

[Service]
TimeoutStartSec=600
ExecStartPre=-/usr/bin/docker kill submit
ExecStartPre=-/usr/bin/docker rm submit
ExecStartPre=/usr/bin/docker pull debrouwere/pollster
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/curl \
    -o /home/core/etcsnapshot \
    https://raw.githubusercontent.com/debrouwere/pollster/master/src/etcsnapshot
ExecStartPre=/usr/bin/bash /home/core/etcsnapshot
ExecStart=/usr/bin/docker run \
    --name submit \
    --env-file /tmp/etc/pollster \
    debrouwere/pollster /opt/pollster/submit
ExecStop=/usr/bin/docker stop submit
ExecStopPost=/usr/bin/docker run \
    --env-file /tmp/etc/pollster \
    --rm debrouwere/pollster aws cloudwatch put-metric-data \
    --namespace social-shares \
    --metric-name exec:stop \
    --dimensions type=timer,container=submit \
    --value 1 \
    --unit Count

[X-Fleet]
MachineOf=scheduler.service
