[Unit]
Description=share count backup service
Requires=update.service

[Service]
ExecStartPre=-/usr/bin/docker kill summarize
ExecStartPre=-/usr/bin/docker rm summarize
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/docker run \
    --name summarize \
    --env-file /tmp/etc/pollster \
    debrouwere/pollster /opt/pollster/summarize
ExecStop=/usr/bin/docker stop summarize
ExecStopPost=/usr/bin/docker run \
    --env-file /tmp/etc/pollster \
    --rm debrouwere/pollster aws cloudwatch put-metric-data \
    --namespace social-shares \
    --metric-name exec:stop \
    --dimensions type=timer,container=summarize \
    --value 1 \
    --unit Count

[X-Fleet]
MachineOf=heartbeat.service